* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5faff;
}

.container {
  width: 100%;
  margin-top: 10px;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
}

#alert {
  width: fit-content;
  position: fixed;
  top: 100px;
  right: 0;
  margin-right: 20px;
}

.facebbok {
  color: #1877f2;
}
