* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5faff;
}

.container {
  margin: 10px auto 0;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
}
